
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Добавление конференции в календарь по ID</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
  </head>

  <body class="text-center">
    {% if need_install %}
        <a class="btn btn-primary" href="{{ install_app_url }}">Установить приложение</a>
    {% else %}
    <form class="form-signin">
       <h1 class="h3 mb-3 font-weight-normal">Введите код конференции</h1>
      <label for="inputCode" class="sr-only">Код:</label>
        <input type="text" id="inputCode" class="form-control" placeholder="111-111-111" required autofocus value="{{ last_meeting_id }}"> </br>

        <button id="getICS" class="btn btn-lg btn-primary btn-block" >Получить ics</button>
        <button id="addGC" class="btn btn-lg btn-primary btn-block">Добавить в GoogleCalendar</button>
    </form>

    {% endif %}

  </body>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
        Made with 💖 to <a href="https://vk.com/munchy">https://vk.com/munchy</a>
    </footer>
  <script src="/static/js/jquery.js"></script>
  <script>
    $("#getICS").click(function (e) {
        e.preventDefault();
        let inputCode = $("#inputCode").val();
        window.open('/ics/' + inputCode, '_blank');
    })
    $("#addGC").click(function (e) {
        e.preventDefault();
        let inputCode = $("#inputCode").val();
        window.open('/gc/' + inputCode, '_blank');
    })
  </script>
</html>
